.spyproject
__pycache__
logs
cache
small
our_code/small_night.zip
our_code/content/small_night
syntetic_night_augmentation/
sf-xs
parser.py
tokyo_xs
small_night
models
target_night
small_FDA_0.05
*.zip
small_FDA_0.05.zip
compact
*.pth
soups
soups_output
r18_places.pth